<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" routerLink="/profile"></div>
    <mat-card-title><a style="color: #1B5595;" [routerLink]="['/userTimeLine',product.user.email]">{{product.user.name}}</a></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="margin:10px;margin-top:30px;font-size: 18px;">
      {{product.body}}
    </p>
  </mat-card-content>
  <img mat-card-image  [src]="product.imageURL" alt="Photo of a Shiba Inu">
  <div style="display: flex;justify-content: space-between;"> 
    <span >{{product.likes.length}} Likes</span>
    <span>{{product.comments.length}} Comments</span>
  </div>  
  <mat-card-actions>
    <button mat-stroked-button (click)="likePost()" [ngClass]="{ 'liked': product.isLiked}" class="normalBtn"  ><span class="fa fa-2x fa-thumbs-up"></span> </button>
    <button mat-stroked-button (click)="commentPost()"  [ngClass]="{ 'commented': product.isCommented }"  class="normalBtn"><span class="fa fa-2x fa-comment"></span></button>
  </mat-card-actions>
  <hr>
  <div *ngIf = "product.isCommented">
    <div style="text-align: left;background-color: #F2F3F5;border-radius: 5px;padding: 20px;" *ngFor="let comment of product.comments; let i = index" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{comment.user.name}}</mat-card-title>
        <mat-card-subtitle>{{comment.user.createdDate.substring(0,10)}}</mat-card-subtitle>
      </mat-card-header>
      <span style="margin-left: 50px;">{{comment.body}}</span>
      <hr>
    </div>
  </div>
  <div *ngIf = "!product.isCommented">
    <div style="text-align: left;border-radius: 5px;padding: 10px;" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><a style="color: #1B5595;" [routerLink]="['/userTimeLine',product.user.email]">{{product.user.name}}</a></mat-card-title>
      </mat-card-header>
      <textarea class="form-control" #commentTxt placeholder="Enter your comment" rows="3" id="comment" style="background-color: #F2F3F5;width: 500px;margin-left:50px ;"></textarea>
      <button class="pull-right" style="margin: 10px;" mat-flat-button color="primary" (click)="addComment(commentTxt.value)" >Comment</button>
    <!-- <input type="text" #commentTxt placeholder="Enter your comment" class="form-control" style="background-color: #F2F3F5;width: 500px;margin-left:50px ;" (keyup)="enterCommentTxt($event,commentTxt.value)"/> -->

      <!-- <mat-form-field class="example-full-width" style="background-color: #F2F3F5;border-radius: 20px;width: 500px;margin-left: 50px;padding: 5px;">
        <input matInput placeholder="Enter your comment" #commentTxt (keyup)="enterCommentTxt($event,commentTxt.value)">
      </mat-form-field> -->
      <hr style="margin-top: 50px;">
    </div>
  </div>
  
</mat-card>
