<div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Advertisement</h5>
            <form class="form-signin ">
              
              <div class="between"></div>
              <div class="form-label-group">
                <textarea class="form-control" name="AdText" [(ngModel)]="AdText" id="inputText"
                  rows="3"></textarea>
              </div>
              <div class="between"></div>
              <div class="row" >
                  <div class="col-md-12" style="text-align: center;">
                    <input type="file" (change) = "onFileSelected($event)">
                  </div>
              </div>
              <div class="between"></div>
              <div class="row">
                  <table class="table table-borderless">
                      <tbody>
                  <tr>
                      <td class="leftpart">Targeted Address :</td>
                      <td class="rightpart"><input type="text" name="inputAddress" id="inputAddress"  class="form-control" placeholder="Address"  required autofocus></td>
                    </tr>
                    <tr>
                      <td class="leftpart">Min Age :</td>
                      <td class="rightpart"><input type="text" name="minAge" id="minAge"  class="form-control" placeholder="Min Age" required autofocus></td>
                    </tr>
                    <tr>
                        <td class="leftpart">Max Age :</td>
                        <td class="rightpart"><input type="text" name="maxAge" id="maxAge"  class="form-control" placeholder="Max Age"  required autofocus></td>
                      </tr>
                      </tbody>
                      </table>
              </div>
              <div class="between"></div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <button class="btn btn-lg btn-outline-danger btn-block text-uppercase" (click)="print()"
                    type="submit">Post</button>
  
                </div>
                <div class="col-md-4">
                </div>
  
              </div>
              <hr class="my-4">
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>