<app-header></app-header>
<div class=" container" style="padding-top: 6%;">
  <h3 style="text-align: center;color: #19497A;margin:30px">Add Advertisement</h3>

  <div class="row">
    <div class="col-md-6" *ngIf="postForm != null">
      <form [formGroup]="postForm" (ngSubmit)="saveAd()">

        <div class="form-group custom-file mb-3">
          <input type="file" (change)="uploadFile($event)" formControlName="photos" class="custom-file-input"
            id="customFile" name="filename" [ngClass]="{ 'is-invalid': submitted && postForm.controls.photos.errors }">
          <div *ngIf="submitted && postForm.controls.photos.errors" class="error-msg">
            <div *ngIf="postForm.controls.photos.errors.required">Name is required</div>
          </div>
          <label class="custom-file-label" for="customFile">{{uploadedText}}</label>
        </div>

        <div class="form-group">
          <label for="targetAddress">Target City</label>
          <input  name="targetAddress" formControlName="targetAddress" id="targetAddress" type="text" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && postForm.controls.targetAddress.errors }">
          <div *ngIf="submitted && postForm.controls.targetAddress.errors" class="error-msg">
            <div *ngIf="postForm.controls.targetAddress.errors.required">City is required</div>
          </div>

        </div>
        <div class="form-group">
          <label for="minAge">Min Age</label>
          <input name="minAge" formControlName="minAge" id="minAge" type="text" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && postForm.controls.minAge.errors }">
          <div *ngIf="submitted && postForm.controls.minAge.errors" class="error-msg">
            <div *ngIf="postForm.controls.minAge.errors.required">Min Age is required</div>
          </div>

        </div>
        <div class="form-group">
          <label for="maxAge">Max Age</label>
          <input name="maxAge" formControlName="maxAge" id="maxAge" type="text" class="form-control" required
            [ngClass]="{ 'is-invalid': submitted && postForm.controls.maxAge.errors }">
          <div *ngIf="submitted && postForm.controls.maxAge.errors" class="error-msg">
            <div *ngIf="postForm.controls.maxAge.errors.required">Max Age is required</div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary pull-right" style="margin-right: 20px">save</button>
      </form>
      <div class="error-msg">{{msg}}</div>
    </div>
    <div class="col-md-6 card">
      <div *ngIf="imageView != null">
        <img class="img-responsive card-img" [src]="imageView" alt="{{ product.title }}">
      </div>
    </div>
  </div>
</div>