.container {
    background-color: #E9EBEE;
    width: 100%;
    margin: 0px;
    max-width: none;
    max-height: none;
    padding: 0px;
  }

  .example-header-image {
    background-image: url('../../assets/images/userLogo.jpg');
    background-size: cover;
  }