<div class="container">
  <app-header></app-header>
  <div  style="margin-left: 370px;">
      <input type="text" #searchTxt placeholder="Search" class="form-control searchField" (keyup)="enterSearchTxt($event,searchTxt.value)"/>

    <!-- <mat-form-field class="example-full-width searchField">
      <input matInput placeholder="Search" #searchTxt (keyup)="enterSearchTxt($event,searchTxt.value)">
        
    </mat-form-field> -->
  </div>
  
  <div class="row" style="background-color: #E9EBEE;">
    <div class="col-md-3"><img src="../../assets/images/adver4.jpg" width="300px" height="500px" style="position: fixed;margin-top: 70px;" /></div>
    <div class="col-md-6" style="text-align: center;margin-top: 70px;">
      <div  *ngFor="let product of UserPosts; let i = index" style="margin-top: 20px;">
      <app-item-post [product]="product"></app-item-post>
    </div>
    <button mat-button color="primary" (click)="loadMorePosts()" >Load More Posts</button>

  </div>
  <div class="col-md-3"><img src="../../assets/images/adver5.jpg" width="300px" height="500px" style="position: fixed;margin-top: 70px;" /></div>

  </div>
</div>