<div class="container">
  <div class="loginContainer">
    <h2>S-Media</h2>
    <mat-card>
      <form class="example-form">
        <mat-form-field class="example-half-left-width">
          <input matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="example-half-right-width">
          <input matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field class="example-half-left-width">
          <input matInput placeholder="Age">
        </mat-form-field>
        <mat-form-field class="example-half-right-width">
          <input matInput placeholder="City">
        </mat-form-field>

        
        <button mat-flat-button color="primary" class="btnLogin">Sign Up</button>
        <hr>
        <button mat-flat-button color="primary" class="btnLogin btnCreate" routerLink="/">Already have account</button>
      </form>
    </mat-card>
  </div>
</div>