  
<div class="container upperprofile">
  <app-header></app-header>
  <p class="profiletext">Profile</p>
      <div class="row" >
  
        <div class="col-md-4 center" *ngIf="showUpdate">
                <img [src]="user.imageURL" height="200" width="200" style="margin-left: 100px;">
  
        </div>
        <div class="col-md-4 center" *ngIf="!showUpdate">
            <input type="file" (change) = "onFileSelected($event)">
        </div>
      <div  class="col-md-8 center">
        <div class="row">
  
            <div *ngIf="showUpdate" class="col-md-8 center view">
  
  
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td class="leftpart">Name :</td>
                        <td class="rightpart">{{user?.name}}</td>
                      </tr>
                      <tr>
                        <td class="leftpart">Email :</td>
                        <td class="rightpart">{{user?.email}}</td>
                      </tr>
                      <tr>
                        <td class="leftpart">City :</td>
                        <td class="rightpart">{{user?.city}}</td>
                      </tr>
                      <tr>
                          <td class="leftpart">Password :</td>
                          <td class="rightpart">********</td>
                        </tr>
                    </tbody>
                  </table>
  
  
            </div>
            <div *ngIf="!showUpdate" class="col-md-8 center edit">
  
            <form class="form-edit-profile" (submit)="updateProfile(inputName.value,inputEmail.value,inputCity.value)">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td class="leftpart">Name :</td>
                        <td class="rightpart"><input type="text" id="inputName" #inputName class="form-control" placeholder="Name" value="{{user.name}}" required autofocus></td>
                      </tr>
                      <tr>
                        <td class="leftpart">Email :</td>
                        <td class="rightpart"><input type="email" id="inputEmail" #inputEmail class="form-control" placeholder="Email Address" value="{{user.email}}" required autofocus></td>
                      </tr>
                        <tr>
                          <td class="leftpart">City :</td>
                          <td class="rightpart"><input type="text" id="inputCity" #inputCity class="form-control" placeholder="City" value="{{user.city}}" required autofocus></td>
                        </tr>
                    </tbody>
  
                  </table>
                  <button class="btn btn-lg btn-outline-danger btn-block text-uppercase" type="submit">Update Profile</button>
                </form>
  
  
            </div>
  
            <div class="col-md-4">
  
                    <div class="btn btn-outline-danger" (click)="update()" >Edit Profile</div>
  
  
            </div>
        </div>
    </div>
  </div>
  </div>