td{
    padding-right: 0;
    margin: 0;
    
}
.container {
    background-color: #E9EBEE;
    width: 100%;
    height: 100%;
    margin: 0px;
    max-width: none;
    max-height: 5000px;
    padding: 0px;
  }
.profiletext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-style: bold;
    font-weight:bold;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px; 
    min-width: 100px;
    color:#cfbec2;
    font-size: 3em;
    font-weight: 600;
    text-align: center; 
}

.leftpart{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-style: bold;
    font-weight:bold;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 100px;
    color:#7e051f;
    font-size: .9em;
    font-weight: 600;
}
.rightpart{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-style: bold;
    font-weight:bold;
    margin-right: 20px;
    margin-left: 20px;
    color:#b8082e;
    font-size: 1.2em;
    font-weight: 600;
}
.upperprofile{
    padding: 20px; 
}