<div *ngIf="!isBlockedUser"  class="container">
  <app-header></app-header>
  <div style="justify-content: center;display: flex">
      <input type="text" #searchTxt placeholder="Search" class="form-control searchField" (keyup)="enterSearchTxt($event,searchTxt.value)"/>

    <!-- <mat-form-field class="example-full-width searchField">
      <input matInput placeholder="Search" #searchTxt (keyup)="enterSearchTxt($event,searchTxt.value)">
        
    </mat-form-field> -->
  </div>
  
  <div class="row" style="background-color: #E9EBEE;">
    <div class="col-md-3"><img src="../../assets/images/adver4.jpg" width="300px" height="500px" style="margin-top: 20px;position: fixed;;margin-top: 70px"/></div>
    <div class="col-md-6" style="text-align: center;margin-top: 70px;">
      <div  *ngFor="let product of AllPosts; let i = index" style="margin-top: 20px;">
      <app-item-post [product]="product"></app-item-post>
    </div>
    <button mat-button color="primary" (click)="loadMorePosts()" >Load More Posts</button>

  </div>
  <div class="col-md-3"><img src="../../assets/images/adver5.jpg" width="300px" height="500px" style="position: fixed;margin-top: 70px;" /></div>
  </div>
</div>
<div *ngIf="isBlockedUser" style="background-color: burlywood;display: flex;justify-content: center;align-items: center;flex: 1;" class="container">

  <div style="text-align: center;">

    <h1 style="color: crimson;"> You have exceeded your limit of Malicious Posts .. And The system automatically blocked you </h1>
    <button *ngIf="!claimVisible" mat-flat-button color="warn" (click)="viewClaim()" >Claim</button>
    <button *ngIf="!claimVisible" mat-flat-button color="primary" (click)="logout()" style="margin-left: 10px;" >Logout</button>
    <div *ngIf="claimVisible">
      <textarea class="form-control" #claimTxt placeholder="Enter your claim" rows="6" id="claim" style="background-color: #F2F3F5;width: 500px;margin-left:430px ;"></textarea><br>
      <button style="margin-top: 10px;" mat-flat-button color="primary" (click)="addClaim(claimTxt.value)" >Add Your Claim</button>
    </div>
  
  </div>
  
</div>